body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    margin-top: 2rem;
    color: lightgreen;
    text-align: center;
}

div {
    display: flex;
    justify-content: center;
}

input, button, p {
    background-color: black;
    padding: 1rem;
    font-family: 'Courier New', Courier, monospace;
    color: lightgreen;
}

p {
    text-align: center;
}

input, button {
    border: 1px dashed lightgreen;    
}

input:focus-visible {
    outline: 0;
}

button:hover {
    background-color: lightgreen;
    color: black;
    border: 1px dotted white;
}
